<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>List products</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<style>

	.thead-green {
  background-color: #05762E; /* Adjust the color as needed */
  color: #ffffff; /* Adjust the text color as needed */
}

.table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
  }

  .table thead {
    background-color: #05762E;
    color: #fff;
  }

  .table th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #2c3e50;
  }

  .table tbody tr {
    border-bottom: 1px solid #ddd;
  }



  .table tbody tr:hover {
    background-color: #f1f1f1;
  }

  .table td {
    padding: 12px 15px;
  }

	</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">MarketSwipe</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" th:href="@{/home_page}">Shop Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/listItems}">List a Product</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/products}"> My Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/chat}"> My Messages</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" href="#" id="ordersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						My Orders
					</a>
					<div class="dropdown-menu" aria-labelledby="ordersDropdown">
						<a class="dropdown-item" th:href="@{/transactions}">Crypto Orders</a>
						<a class="dropdown-item" th:href="@{/payPalTransactions}">PayPal Orders</a>
						<a class="dropdown-item" th:href="@{/bidding}">View Bids</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" href="#" id="ordersDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						My Account
					</a>
					<div class="dropdown-menu" aria-labelledby="ordersDropdown">
						<a class="dropdown-item" th:href="@{/myAccount}">Account Details</a>
						<a class="dropdown-item" th:href="@{/viewWallet}">Wallet Details</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle active" href="#" id="ordersDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Trending
					</a>
					<div class="dropdown-menu" aria-labelledby="ordersDropdown">
						<a class="dropdown-item" th:href="@{/trending}">Market Trends</a>
						<a class="dropdown-item" th:href="@{/saleTrends}">Past Sales</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/crypto}"> Crypto Markets</a>
				</li>


			</ul>

		</div>
	</div>

	<li class="nav-item">
		<div class="cont text-center">
			<form th:action="@{/logout}" method="post">
				<p style="color:green;">
					Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
				</p>
				<input type="submit" value="Sign Out" />
			</form>
		</div>
	</li>
</nav>
<div class="container text-center">

	<div th:if="${message}" class ="alert alert-success text-center">
		[[${message}]]
	</div>
	<div>
		<h2 style="color:green;">Manage Listings</h2>
	</div>
<br>
	<div>
		<table class="table">
			<thead class="thead-green">
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Manage Product</th>

			</tr>
			</thead>
			<tbody>
			<tr th:each="item: ${listItems}">
<!--				<td> <img th:src="${item.photosImagePath}" style="width: 100px; height: 100px;"></td>-->
				<td>
					<img th:if="${item.image != null}" th:src="${item.photosImagePaths[0]}" style="width: 100px; height: 100px;">
				</td>
				<td th:text="${item.itemName}">Name</td>
				<td th:text="${item.itemDesc}">Description</td>
				<td th:text="&#8364; + ${item.itemPrice}">Price</td>
				<td>
					<a class="btn btn-primary mt 4" style="width:150px" th:href="@{'/products/update/' + ${item.itemId}}">Update Listing</a>

					<a class="btn btn-danger mt 4"  style="width:150px" th:href="@{'/products/delete/' + ${item.itemId}}">Delete Listing</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>

