<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title> MarketSwipe </title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<style>
<style>
    .login-link {
        color: #007bff;
        text-decoration: none;
        font-weight: 500;
        transition: all 0.2s;
    }

    .login-link:hover {
        color: #0056b3;
        text-decoration: underline;
    }
</style>
<body>
	<div class="container text-center">
	<h1 style="color:green;"> You have signed up successfully!</h1>
		<img src="logo.png"/>
		<h4><a th:href="@{/login}" class="login-link">Login here</a></h4>

</div>

</body>
</html>
