<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title> Register here </title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<style>

</style>
<body>
	<div class="container text-center">
	<h1 style="color:green;"> Register for MarketSwipe below</h1>
	
</div>

<form th:action="@{/process_register}" th:object="${user}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div class="m-3">
			<div class="form-group row">
				<label class="col-4 col-form-label">E-mail: </label>
				<div class="col-8">
					<input type="email" th:field="*{email}" class="form-control" required />
					<span th:if="${emailExistsError}" th:text="${emailExistsError}" class="text-danger"></span>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Password: </label>
				<div class="col-8">
					<input type="password" th:field="*{password}" class="form-control" 
							required minlength="6" maxlength="10"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">First Name: </label>
				<div class="col-8">
					<input type="text" th:field="*{firstName}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Last Name: </label>
				<div class="col-8">
					<input type="text" th:field="*{lastName}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-4 col-form-label">Address Line 1: </label>
				<div class="col-8">
					<input type="text" th:field="*{address1}" class="form-control"
						   required minlength="2" maxlength="20" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-4 col-form-label">Address Line 2 </label>
				<div class="col-8">
					<input type="text" th:field="*{address2}" class="form-control"
						   required minlength="2" maxlength="20" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-4 col-form-label">Country: </label>
				<div class="col-8">
					<select name="category" th:field="*{country}" class="form-control">
						<option value="Ireland">Ireland</option>
						<option value="England">England</option>
						<option value="Scotland">Scotland</option>
						<option value="Wales">Wales</option>
						<option value="Italy">Italy</option>
						<option value="France">France</option>
						<option value="USA">USA</option>
						<option value="Spain">Spain</option>
						<option value="Germany">Germany</option>
					</select>
				</div>


			</div>
			
			<div>
				<button type="submit" class="btn btn-primary">Register</button> 
			</div>
		</div>
		</form>

</body>
</html>
