<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style>
        body {
  background-image: url('BGColour.png');
  background-size: cover;
}
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MarketSwipe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin_home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/listItems}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/users}"> Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/myAccount}"> Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/myAccount}"> Account</a>
                </li>
            </ul>

        </div>
    </div>
    <li class="nav-item">
        <div class="container text-center">
            <form th:action="@{/logout}" method="post">
                <p style="color:green;">
                    Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
                </p>
                <input type="submit" value="Sign Out" />
            </form>
        </div>
    </li>
</nav>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container text-center">
        <h1>List of Users</h1>
    </div>

    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Manage User</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.email}">E-mail</td>
                <td th:text="${user.firstName}">First Name</td>
                <td th:text="${user.lastName}">Last Name</td>
                <td>
                    <a class="btn btn-danger" th:href="@{'/users/delete/' + ${user.id}}">Delete User</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>